#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# manually created plans
tfplan
plantf
.plan

.tfvars
*.tfvars
terraform.tfvars

# secrets
.credentials
.pem
.ppk
.out
.id
id_rsa

# compiled output
**/demo_app/dist
**/demo_app/tmp
**/demo_app/out-tsc

# dependencies
/demo_app/node_modules
/demo_app/node_modules/
/demo_app/node_modules/*


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
